<div id="footer-nav">
    <div class="tablewrapper">
        <ul id="footer-main-nav">
            <li><[% IF c.req.uri.path == '/' %]span[% ELSE %]a href="/"[% END %] class="report-a-problem-btn"
                >[% loc("Report a problem") %]</[% c.req.uri.path == '/' ? 'span' : 'a' %]></li>[%
            %]<li><[% IF c.req.uri.path == '/my' %]span[% ELSE %]a href="/my"[% END
                %]>[% loc("Your reports") %]</[% c.req.uri.path == '/my' ? 'span' : 'a' %]></li>[%
            %]<li><[% IF c.req.uri.path == '/reports' %]span[% ELSE %]a href="/reports"[% END
                %]>[% loc("All reports") %]</[% c.req.uri.path == '/reports' ? 'span' : 'a' %]></li>[%
            %]<li><[% IF c.req.uri.path == '/alert' %]span[% ELSE %]a href="/alert[% pc ? '/list?pc=' : '' %][% pc | uri %]"[% END
                %]>[% loc("Local alerts") %]</[% c.req.uri.path == '/alert' ? 'span' : 'a' %]></li>[%
            %]<li><[% IF c.req.uri.path == '/contact' %]span[% ELSE %]a href="/contact"[% END
                %]>[% loc("Contact") %]</[% c.req.uri.path == '/contact' ? 'span' : 'a' %]></li>
        </ul>
        <ul id="footer-help-nav">
            <li><[% IF c.req.uri.path == '/faq' %]span[% ELSE %]a href="/faq"[% END
                %]>[% loc("Help") %]</[% c.req.uri.path == '/faq' ? 'span' : 'a' %]></li>[%
            %]<li><[% IF c.req.uri.path == '/privacy' %]span[% ELSE %]a href="/privacy"[% END
                %]>[% loc("Privacy") %]</[% c.req.uri.path == '/privacy' ? 'span' : 'a' %]></li>
        </ul>
    </div>
</div>
