
                    [% IF pagefooter %]
                    <footer role="contentinfo" class="bordered">
                        [% INCLUDE 'footer-nav.html' %]
                    </footer>
                    [% END %]
                </div><!-- .content role=main -->
            </div><!-- .container -->
            [% IF c.cobrand.moniker == 'fixmystreet' AND bodyclass != 'mappage' %]
                [% INCLUDE 'footer-nav.html' %]
            [% END %]
        </div><!-- .table-cell -->

        <div class="nav-wrapper">
            <div class="nav-wrapper-2">
                <div id="main-nav" role="navigation">
                    <!--<ul class="nav-menu nav-menu--mysoc">
                        <li><a id="mysoc-logo" href="https://www.mysociety.org/">mySociety</a></li>
                    </ul>-->
[%
    SET base = "";
    SET base = c.cobrand.base_url IF admin;
%]
                    <ul class="nav-menu nav-menu--main">
                        <li><[% IF c.req.uri.path == '/'
                            %]span[% ELSE %]a href="[% base %]/"[% END %] class="report-a-problem-btn"
                            >[% loc("Report a problem") %]</[% c.req.uri.path == '/' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/my'
                            %]span[% ELSE %]a href="[% base %]/my"[% END
                            %]>[% loc("Your reports") %]</[% c.req.uri.path == '/my' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/reports'
                            %]span[% ELSE %]a href="[% base %]/reports"[% END
                            %]>[% loc("All reports") %]</[% c.req.uri.path == '/reports' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/alert'
                            %]span[% ELSE %]a href="[% base %]/alert[% pc ? '/list?pc=' : '' %][% pc | uri %]"[% END
                            %]>[% loc("Local alerts") %]</[% c.req.uri.path == '/alert' ? 'span' : 'a' %]></li>[%
                        %]<li><[% IF c.req.uri.path == '/faq'
                            %]span[% ELSE %]a href="[% base %]/faq"[% END
                            %]>[% loc("Help") %]</[% c.req.uri.path == '/faq' ? 'span' : 'a' %]></li>[%
                        %]<li class="nav-menu__item--privacy"><[% IF c.req.uri.path == '/privacy'
                            %]span[% ELSE %]a href="[% base %]/privacy"[% END
                            %]>[% loc("Privacy") %]</[% c.req.uri.path == '/privacy' ? 'span' : 'a' %]></li>
                    </ul>
                </div>
            </div>
        </div>

<!-- [% INCLUDE 'debug_footer.html' %] -->
    </div> <!-- .wrapper -->

    [% TRY %][% PROCESS 'footer_extra.html' %][% CATCH file %][% END %]

</body>
</html>
